/* style for welcome.blade.php */
:root{
    --text-font:Arial;
    --navbar-gradient:linear-gradient(315deg, #338c7a 0%, #58aa85 70%, #99CE93 85%, #93d2e9 95%);
    --color-primary:#99CE93;
    --color-secondary:#58aa85;
    --color-tertiary:#338c7a;
    --color-quaternary:#55add5;
    --color-quinary:#93d2e9;
    --color-senary:#d47416;
    --test:pink;
}

    /* all keyframes */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

    /* tag styling */

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font: var(--text-font);
    font-size: 16px;
    margin:0;
    background-image: url(images/davinciBackground.png);
    background-size: cover;
    background-repeat: repeat-y;
}

a{
    color:black;
    text-decoration: none;
}
    /* end tag styling */
    /* welcome page styling */
.welcome-content-box{
    position:absolute;
    top:50%;
    left:50%;
    width: min(80%, 600px);
    transform:translate(-50%,-50%);
    animation: fadein 3s;
}

.welcome-header-text{
    display:flex;
    justify-content: center;
    font-size: 3em;
}

.welcome-header-line{
    display:flex;
    justify-content: center;
    font-size: 2em;
}

.welcome-header-line hr{
    border: none;
    border-bottom:2px solid black;
    width: 40%;
}

.welcome-login-buttons{
    display: flex;
    justify-content: space-around;
}

.welcome-button{
    font-size: 2em;
    font-weight: bold;
}

.welcome-button-line{
    border: none;
    width: 0%;
	border-bottom: 1.5px solid black;
    transition:.5s ease;
}

.welcome-button:hover~.welcome-button-line{
    width:100%;
}
    /* end welcome page styling */
    /* app navbar styling */
.app-navbar{
    background: var(--navbar-gradient);
    width: 100%;
    height: 5vh;
    padding: 0 1%;
    display: flex;
    align-items: center;
}

.app-navbar > * + *{
    margin-left:2%;
}

.app-navbar-title{
    width: 3em;
}

.app-navbar-item:hover{
    color: rgb(80, 80, 80);
}

.app-navbar-title:hover{
    font-weight: 550;
}

.app-navbar-user-info{
    position:absolute;
    right:2%;
    height: 5vh;
    display: flex;
    align-items: center;
}

.app-navbar-dropdown-button {
    background-color:var(--color-quinary);
    width:4vh;
    height:4vh;
    border-radius:50%;
    border: none;
    cursor: pointer;
}

.app-navbar-dropdown-content {
    display: none;
    position: absolute;
    top:5vh;
    right:2%;
    background-color: #f9f9f9;
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 10;
}
.app-navbar-dropdown-content a {
    padding: 12px 16px;
    display: block;
    border-radius: 5px;
}
  
.app-navbar-dropdown-content a:hover {
    background-color: #e2e0e0
}
.app-navbar-user-info:hover .app-navbar-dropdown-content {
    display: block;
}
  
.app-navbar-user-info:hover .app-navbar-dropdown-button {
    background-color:var(--color-quaternary);
}

    /* end app navbar styling */
    /* reussable form */

.form-container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 90%;
    min-height: min(40%, 300px);
    padding-bottom: 1%;
    border-radius: 20px;
}

.form-header{
    margin-bottom: 5%;
    height: 30%;
    display: flex;
    justify-content: center;
}

.form-header > h1,.form-header > h2{
    position: absolute;
    top:.5rem;
    padding: 0 5%;
}

.form-header-image{
    background-color: var(--color-quinary);
    position: relative;
    top:-1em;
    width:2em;
    height:2em;
    border-radius: 50%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 14px 16px 0px rgba(0,0,0,0.4);
}

.form-container > form{
    display: grid;
    justify-items: center;
}

.make-card-form{
    width: 80%;
    justify-items: stretch !important;
    margin-left: 20%;
}

.make-card-form > div{
    margin-bottom: 5%;
}

.make-card-form > .form-submit-button{
    width: 60%;
    margin-left: 10%;
}

.form-container textarea{
    resize: none;
    overflow: hidden;
    padding: 2% 4% !important;
}

.form-input-container{
    border-radius: 20px;
    background-color: rgb(232, 240, 254);
    display: flex;
    align-items: center;
    padding: 0 4%;
    margin-bottom: 5%;
    overflow: hidden;
    width:80%;
    min-height:3em;
}

.form-input{
    height: 2em;
    border: none;
    background-color: transparent;
    margin-left:2%;
    width: 100%;
}

.form-input[type=description]{
    height:6em;
}

.form-input:focus{
    border: none;
    outline: none;
}

.form-input-container:focus-within, .form-submit-button:hover{
    outline: 1px solid black;
}

.invalid-feedback{
    color: darkred;
    width: 80%;
    margin-bottom: 5%;
}

.form-submit-button{
    background-color: var(--color-tertiary);
    color: whitesmoke;
    width: 100%;
    height: 2em;
    margin: 5% 0;
    font-size: 1em;
    font-weight: bold;
    border:none;
    border-radius: 20px;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.3);
}

.form-submit-button, .form-check-input, .form-check-label{
    font-size: 1.5em;
    cursor: pointer;
}

.form-bottom-text{
    color: rgb(126, 126, 126);
}

    /* end reussable form */
    /*  */

.main-button-bar{
    position:absolute;
    top:7%;
    left:50%;
    transform: translate(-50%);
    width:90%;
    height:7%;
    padding:1% 0;
}

.main-button-bar::before{
    content: '';
    display: inline-block;
    width: 1px;
    height:100%;
    background-color: rgb(94, 92, 92);
}

.main-button-bar::after{
    content: '';
    width: .5px;
    height:100%;
    background-color: rgb(94, 92, 92);
    float:right;
}

.main-button{
    background: rgb(128, 128, 128, .3);
    padding: 5px;
    margin: 0 5px;
    position: relative;
    bottom: 35%;
}

.main-button:hover{
    background: rgb(128, 128, 128, .5);
}


.main-container{
    position:absolute;
    top:15%;
    left:50%;
    transform: translate(-50%);
    width:90%;
    height: 75%
}

.home-board-container-header, .question-board-container-header,
.lesson-board-container-header, .user-list-container-header{
    background:var(--navbar-gradient);
    height:3em;
    border-radius: inherit;
    padding: 2%;
    display: flex;
    align-items: center;
}

.home-board-container-header > * + *, .question-board-container-header > * + *,
.lesson-board-container-header > * + *, .user-list-container-header > * + *{
    margin-left: 2%;
}

.home-board-container{
    background-color: whitesmoke;
    width:100%;
    height:100%;
    border-radius: 20px 20px 0 0;
    overflow:hidden;
    box-shadow: 0px 8px 8px 1px rgb(0 0 0 / 30%);
}

.home-board-content, .question-board-content, .lesson-board-content, .user-list-content{
    width: 100%;
    padding:2% 1% 0 1%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
}

.user-list > .four-columns:hover{
    background-color: var(--color-secondary);
}

.user-list{
    width: 100%;
}

.link{
    cursor: pointer;
}

.user-list-content{
    height: 85%;
    padding: 2% 0 0 0;
}

.lesson-board-content{
    height: 79%;
}

.question-board-content{
    height: 81%;
}

.home-board-content{
    height: 91%;
}

.card{
    width: min(47.5%, 190px);
}

.card-row{
    width:100% !important;
}

.general-card{
    background: var(--color-secondary);
    display: inline-block;
    height:70px;
    padding:2%;
    margin-bottom: 2%;
    margin-left: 2%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
}

.general-card>i{
    float: right;
}

.home-board-buttons{
    background-color: var(--color-quaternary);
    border:none;
    border-radius: 5px;
    min-width:2em;
    height:2em;
    padding:.5em;
    display: flex;
    align-items:center;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
}

.home-board-content::-webkit-scrollbar, .question-board-content::-webkit-scrollbar,
.lesson-board-content::-webkit-scrollbar, .user-list-content::-webkit-scrollbar{
    width:.7em;
}

.home-board-content::-webkit-scrollbar-thumb, 
.question-board-content::-webkit-scrollbar-thumb,
.lesson-board-content::-webkit-scrollbar-thumb,
.user-list-content::-webkit-scrollbar-thumb{
    background: var(--color-secondary);
    border-radius: .3em;
    width:.7em;
}
    /*  */
    /* oneboard styling */

.question-board-container{
    background-color: whitesmoke;
    width:100%;
    height:50%;
    margin-bottom: 5%;
    border-radius: 20px 20px 0 0;
    overflow:hidden;
    box-shadow: 0px 8px 8px 1px rgb(0 0 0 / 30%);
}

.lesson-board-container{
    background-color: whitesmoke;
    width:100%;
    height:45%;
    border-radius: 20px 20px 0 0;
    overflow:hidden;
    box-shadow: 0px 8px 8px 1px rgb(0 0 0 / 30%);
}

.modal {
    display: none;
    position: fixed;
    width:100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* loader styling */
.loader-screen{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
    border-radius:10px;
    z-index: 2;
    position: absolute;
    left: 10%;
    top:12%;
}


.loader-wrap {
	position: absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
}

.loader{
    color:var(--color-secondary);
    position: relative;
    bottom:0px;
    font-size: 26px;
    font-weight:bold;
    animation: jump 2s ease-in infinite;
  }

  @keyframes jump {
      15%{
        	bottom:10px;
      }
      30%{
          bottom:0px;
      }
    40%{
      bottom:2px
    }
    50%{
      bottom:0px;
    }
  }

.letter-2{
  animation-delay:.1s;
}
.letter-3{
  animation-delay:.2s;
}
.letter-4{
  animation-delay:.3s;
}
.letter-5{
  animation-delay:.4s;
}
.letter-6{
  animation-delay:.5s;
}
.letter-7{
  animation-delay:.6s;
}
.letter-8{
  animation-delay:.7s;
}
.letter-9{
  animation-delay:.8s;
}
.letter-10{
  animation-delay:.9s;
}
/* end loader styling */
      
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
    border-radius:10px;
    position: absolute;
    left: 10%;
    top:12%;
}
      
.card-info-owner{
    position:absolute;
    font-size: 18px;
}
    
.close {
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}
      
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
    
.card-info-popup{
    position: relative;
    top: 5vw;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 50% 25% 25%;
    height: 90%;
    grid-gap: 1vw;
}
    
.general{
  grid-column: 1/4;
  grid-row: 1/2;
}
    
.general>span{
    margin-left:5px;
}
    
.general>.title{
  width: 95%;
  height: 30%;
  border: 1px solid var(--color-quinary);
  margin: 3px 3px 8px 3px;
  resize: none;
  font-size: 1rem;
  border-radius: 10px;
}

.general>.description{
  width:calc(100% - 8px);
  height:40%;
  border: 1px solid var(--color-quinary);
  margin: 3px 3px 8px 3px;
  resize: none;
  font-size: 1rem;
  border-radius: 10px;
}
    
.image-uploader-box{
  grid-column: 1/2;
  grid-row: 2/4;
}
        
.image-uploader-box > input[type="file"]{
  width: 7rem;
}

.card-status{
    width:100%;
}

.helper-box{
  grid-column: 2/3;
  grid-row: 3/4;
}
    
.helper{
  background-image: var(--navbar-gradient);
  display: inline-flex;
  width: 55px;
  height: 55px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  margin:2px;
}
    
.helper-box input{
  background: lightgrey;
  border: none;
  border-radius: 15px;
  font-weight: bold;
}
    
.helper-buttons, .helper-status{
    display: inline;
}

.helper-box > legend{
    font-size: .8rem;
}
    
.progress-info{
  grid-column: 2/3;
  grid-row: 2/3;
}

.card-submit-form{
    grid-column: 3/4;
    grid-row: 3/4;
    place-items: center;
}
    
.card-submit-button{
    width:90%;
    height:50%;
    border: none;
    background-color: var(--color-secondary);
    border-radius: 10px;
    cursor: pointer;
}
    
.card-submit-button:hover{
  width:calc(90% + 5px);
  height:calc(50% + 5px);
  border: 1px solid black;
}
    
.submit-form .card-submit-button:hover{
  width:calc(100% + 5px);
  height:calc(100% + 5px);
  border: 1px solid black;
}
    
.card-info-border{
    border: 3px solid #D3D3D3;
    border-radius:10px;
    padding: 5px;
}

.home-user-popup{
    display: none;
}

.avatar{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -3px;
    border: 1px solid darkgray;
    box-shadow: 3px 4px 4px 0px rgb(0 0 0 / 25%);
}

.avatar a , .user-popup-header-username a{
    text-decoration: none;
    color: black;
}

.user-list-container{
    background-color: whitesmoke;
    width:100%;
    height:100%;
    border-radius: 20px 20px 0 0;
    overflow:hidden;
    box-shadow: 0px 8px 8px 1px rgb(0 0 0 / 30%);
}

.user-list-container-header{
    display: flex;
    flex-direction: row-reverse;
}

.user-list-search-bar{
    padding: 2%;
}

.user-search-input{
    width: 150px;
    height: 2em;
    font-size: 1em;
    border: 2px solid var(--color-quaternary);
    border-radius: 20px;
    padding: 0 7px;
}

.user-search-input:focus{
    border: 2px solid black;
    outline: none;
}

.retract{
    animation: shrink 1s ease-out forwards;
}

.extend{
    animation: grow 1s ease-out forwards;
}

@keyframes grow {
    100%{
        width:150px;
        border: 2px solid var(--color-quaternary);
    }
    99%{
        border:none;
    }
    0%{
        width:0px;
        padding: 0;
        border:none;
    }
}

@keyframes shrink {
    0%{
        width:150px;
        border:none;
    }
    100%{
        width:0px;
        padding: 0;
        border:none;
    }
}

.user-search-icon{
    display: inline-block;
    font-size: 1.5em;
    padding: .25 0;
}

.user-list-collumn-indic{
    background-color:#EBEBEB;
    width:100%;
    font-size: 1.5em;
}

.four-columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.four-columns + .four-columns{
    border-top: 1px solid black;
}

.user-list + .user-list-split{
    border-top: 2px solid black;
}

.user-list-split{
    width:100%;
    height:1.5em;
    display: flex;
    justify-content: center;
    background-color: #EBEBEB;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
}
/*  */
/*  */

.profile-card{
    background-color: var(--color-quaternary);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 8px 8px 1px rgb(0 0 0 / 30%);
}

.profile-image{
    background-color: grey;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.date-columns li {
    list-style: none;
    margin-left: 0;
}

@media only screen and (min-width: 1024px) {
    .form-container{
        background-color: var(--color-quaternary);
        width:40%;
        font-size: 1em;
    }

    .form-input-container{
        min-height: 2em;
    }

    .form-submit-button, .form-check-input, .form-check-label {
         font-size: 1em
    }

    .make-card-form textarea{
        height: 4em;
    }

    .create-board-form > .form-submit-button{
        width: 40%;
    }

    .main-container{
        display: flex;
        justify-content: space-between;
    }

    .question-board-container{
        width:60%;
        height:100%;
    }
    
    .lesson-board-container{
        width:35%;
        height:100%;
    }

    .card{
        width: min(47.5%, 290px);
    }

    .card-info-popup{
        top:2vw;
    }
}


@media only screen and (min-width: 1340px) {
    .form-container{
        width: 30%;
    }

    .question-board-container{
        width:67%;
        height:100%;
    }
    
    .lesson-board-container{
        width:30%;
        height:100%;
    }

    .card{
        width: min(47.5%, 260px);
    }
}

#createBoardText{
    position: relative;
    bottom: 20px;
}


.calendar-today {
    color: red;
}

.calendar {
        position: relative;
        display: none;
        left:80px;
        top: 75px;
        width: 300px;
        background-color: #fff;
        box-sizing: border-box;
        box-shadow: 0 5px 50px rgba(#000, 0.5);
        border-radius: 8px;
        border: black 1px solid;
        
    }

    .calendar-date {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
        grid-gap: 10px;
        box-sizing: border-box;
    }

    .calendar-day {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        font-weight: 600;
        color: #262626;
    }

    .calendar-number {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        color: #262626;
    }

  #userPopup{
      background-color:#55add5;
      margin-left:-310px;
      margin-top:120px;
      width:300px;
      height:120px;
      border-radius:25px;
      color:black;
  }
  
  #userPopup>div{
    margin-left:80px;
    font-size:16px;
  }
  
  #userPopupBol{
    margin-left:50px;
    margin-top:10px;
  }

  .card-avatar-container{
    display: flex;
    flex-direction: row;
    margin-left:21px;
  }

